header{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #2d2d2d;
    padding: 5px;
    background-color: transparent;
    backdrop-filter: blur(100px);

    .line__1{
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            a{
                font-size: 40px;
                font-weight: 500;
                color: aliceblue;
                text-decoration: none;
                transition: .5s ease-in-out;
            }
            a:hover{
                text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, 2px 2px 2px rgba(206,206,205,0);
            }
        }

        .User{
            a{
                text-decoration: none;
                color: aliceblue;
            }
        }
    }
}